<span class="group">
  <%= f.label :content do %>
	Choice:
	<%= f.hidden_field(:_destroy) %>
	<%=link_to " X ", "javascript:void(0);", :confirm => "Are you sure to delete this choice.", :class => "delete" %>
  <%end%>
  <br />
  <%= f.text_area :content, :size => "90x2" %><br />
</span>
