// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.template{
  display: none;
}

div.view_surveys{
	clear:both;
	margin-bottom:20px;
	.title_bar{
		border:1px outset #cfcfcf;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background-color:#fcfcfc;
		font-weight:thin;
		height:30px;
		line-height:30px;
		veritical-align:bottom;
		padding-left:5px;
	}
	.list_surveys{
		border:1px outset #cfcfcf;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		margin-top:5px;
		margin-bottom:5px;
		background-color:#fcfcfc;
		li{
			margin:10px 10px 10px 0;
			border-bottom:1px dotted #cfcfcf;
			.title{
			
			}
			.time{
				float: right;
			}
			.management{
				float: right;
				padding:0px 10px;
			}
		}
	}
}

div{
  &.survey{
	clear:both;
	background-color:#f0f0fc;
	padding:5px 20px 20px 20px;
	a.delete{
	  text-decoration:none;
	  color:#87a32e;
	}
	.survey_title{
	  font-size:28px;
	  text-align:center;
	  font-weight:bold;
	  padding:2px 0px 2px 0px;
	  background-color:#e0e0ef;
	}
	.survey_info{
	  margin:0px 0px 5px 0px;
	  padding:5px 6px 5px 6px;
	  .page_status{
	    text-align:right;
	    font-size:10px;	
	    margin-bottom:5px;    
	  }
	}
	.survey_body{
	  padding: 5px 10px 5px 10px;
	  border:3px solid #e0e0ef;
	  .question{
		margin:2px 0px 10px 0px;
		.question_title{
		  color:#ff6633;
		  font-size:16px;
		}
		.question_body{
		  .question_item{
		    margin:10px 10px 10px 1px;
		  }
		  padding-bottom:10px;
		  border-bottom:1px dashed #909090;
		}
	  }
	}
	.take_survey{
	  text-align:center;
      margin-top:20px;
	  input.title{
		width:160px;
		padding:30px 0px 20px 0px;
	  }
	}
  .questions{
		margin: 10px 0px 10px 0px;	
		div.group{		
			margin: 3px 0px 10px 0px;
			padding:10px 10px 10px 10px;
			background-color:#e8e8e8;
			border: 1px outset #e0e0e0;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			label {
				font-weight: bold;
				font-size: 12px;
			}
			.choices{
				background-color:#efefef;
				margin-top: 10px;
				div{
					margin:3px 5px 5px 5px;
					padding: 5px 10px 5px 10px;
					background-color:#f6f9f6;
					border:3px solid #f6f6f6;
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
				}
			}
		}
	  }
	  button{
		  &.title{
			padding:2px 6px 2px 6px;
			font-size:16px;
			color:#999999;
			font-weight:bolder;
		  }
      }
      .submit{
		width: 100px;
		height: 30px;
		float: right;
	  }

	span {
	  &.title{
		font-size:16px;
		color:#87a32e;
		cursor: pointer;
		a {
		  color: #87a32e;
		  &:visited {
		    color: #87a32e; }
		  &:hover {
		    color: #fff;
		    background-color: #000; } }
	  }
	}
  }
}

div.progress{
	clear:both;
	width:360px;
	.progress_number{
	  font-size:10px;
	  height:100%;
	  padding-left:305px;
	}
}
